<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalLabel" aria-hidden="true"
  #dateModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="dateDetails !== null">
        <h5 class="modal-title" id="dateModalLabel">{{dateDetails.day}}
          {{(dateDetails.month + 1) + '/' + dateDetails.date + '/' + dateDetails.year | date}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="dateDetails !== null">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let event of dateDetails.events">
            <div class="row date-event" (click)="setEditEvent(event)">
              <div class="col-9">
                <h5>{{event.name}}</h5>
                <span class="text-small text-muted">{{event.description}}</span>
              </div>
              <div class="col d-flex">
                <strong class="my-auto ml-auto"
                  [style.color]="event.type === 'deposit' ? 'green' : 'red'">{{event.amount | currency}}</strong>
              </div>
            </div>
            <div @slideDown *ngIf="editEvent.id === event.id">
              <hr>
              <app-event-editor (onCancel)="unsetEditEvent()" (onSave)="saveEditEvent($event)" [type]="'edit'" [event]="editEvent" [date]="dateDetails"></app-event-editor>
            </div>
          </li>
          <li class="list-group-item">
            <div @slideDown *ngIf="newEventInProgress === false">
              <button class="btn btn-primary" (click)="newEventInProgress = true">Add new event</button>
            </div>
            <div @slideDown *ngIf="newEventInProgress === true">
              <app-event-editor (onSave)="createEvent($event)" [type]="'new'" [event]="newEvent" [date]="dateDetails" (onCancel)="newEventInProgress = false"></app-event-editor>  
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="calendar-date-preview p-3" #calendarDatePreview>
  Test
</div>

<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col">
    <table class="table mt-5">
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 7)"
          [class.calendar-date-valid]="date.date !== null" (click)="viewDateDetails(date)" (mousemove)="updateCalendarTooltip(date, $event)">
          <div class="calendar-date">
            {{date.date}}
          </div>
          <div class="row calendar-event no-gutters px-1 mb-1" *ngFor="let event of date.events">
            <div class="col-9">
              {{event.name}}
            </div>
            <div class="col">
              {{event.type === 'payment' ? '-' : ''}}{{event.amount | currency}}
            </div>
          </div>
        </td>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 14, 7)"
          [class.calendar-date-valid]="date.date !== null">
          <div class="calendar-date">
            {{date.date}}
          </div>
        </td>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 21, 14)"
          [class.calendar-date-valid]="date.date !== null">
          <div class="calendar-date">
            {{date.date}}
          </div>
        </td>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 28, 21)"
          [class.calendar-date-valid]="date.date !== null">
          <div class="calendar-date">
            {{date.date}}
          </div>
        </td>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 35, 28)"
          [class.calendar-date-valid]="date.date !== null">
          <div class="calendar-date">
            {{date.date}}
          </div>
        </td>
      </tr>
      <tr class="calendar-row">
        <td class="calendar-col" *ngFor="let date of weekFilter(monthDates, 42, 35)"
          [class.calendar-date-valid]="date.date !== null">
          <div class="calendar-date">
            {{date.date}}
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>
