.table {
  table-layout: fixed;
}

.calendar-row {
  height: 15rem;
}

.calendar-col {
  transition: 250ms ease;
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
}

.calendar-date-valid:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.calendar-event {
  font-size: smaller;
  background-color: #d5e0ff;
  border-radius: 5px;
}

.date-event:hover {
  cursor: pointer;
}

.calendar-date-preview {
  position: fixed;
  z-index: 1000;
  background-color: white;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}
