.table {
  table-layout: fixed;
}

.calendar-row {
  border-top: solid 1px gray;
  border-right: solid 1px gray;
}

.calendar-col {
  height: 10rem;
  transition: 250ms ease;
  flex: 0 0 calc(100% / 7);
  max-width: calc(100% / 7);
  border-bottom: solid 1px gray;
  border-left: solid 1px gray;
}

.calendar-date-valid:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.calendar-event {
  font-size: smaller;
  background-color: #d5e0ff;
  border-radius: 5px;
}

.date-event:hover {
  cursor: pointer;
}

.calendar-date-preview {
  position: fixed;
  z-index: 1000;
  background-color: white;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.calendar-date {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
